@media only screen and (max-width: 1280px) {
    
    .friends-groups-grid, .members-owners-grid {  
        justify-content: center;
    }

    .group-information{
        display: flex;
        flex-direction: column;
    }

    main {
        grid-template-columns: 1.5fr 3.5fr;
        height: calc(100vh - 2rem);
    }
    
     
    main > #content {
        grid-column: 2;

    }

    main > aside#right-bar {
        display: flex;
        position: fixed;
        top: 0;
        width: 50vw; 
        height: calc(100vh - 2rem);
        margin: 0;
        transition: transform 0.3s ease;
        z-index: 1000;
        right: 0;
        transform: translateX(100%);
    }
    main > aside#right-bar.active-menu {
        transform: translateX(0%);
    }

    .responsive-buttons{
        align-self: flex-end;
    }

    .right-hamburger{
    display: flex;
    padding: 0.5rem 4rem;
    cursor: pointer;
    
    }



    /* Style for hamburger menus */

  .close-btn.right{
    display: block;
    position: absolute;
    top: 1rem;
    right: 0.5rem; 
    border: none;
    background: transparent;
    color: white;
    font-size: 4rem; 
    font-weight: 100;
    cursor: pointer;
    }


    #right-bar .close-btn {
     right: 0.5rem; 
    }

    #search{
        padding: 0.5rem 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .search-filters{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .search-sort{
        width: 80%;
        justify-content: center;
    }



}

@media only screen and (max-width: 1024px) {

    .friends-groups-grid, .members-owners-grid {  
        flex-wrap: wrap;
    }

    .profile-information{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 575px) {
    main {
        grid-template-columns: 1fr;
        height: calc(100vh - 1rem);
    }
    
     
    main > #content {
        grid-column: 1;
        padding: 0 1rem;
        padding-bottom: 1rem;
        margin: 0;
    }

    main > aside{
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw!important; 
        height: calc(100vh);
        margin: 0;
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    main > aside#left-bar {
        left: 0;
        transform: translateX(-100%);
    }

    main > aside#right-bar {
        right: 0;
        transform: translateX(100%);
    }

    main > aside#left-bar.active-menu {
        transform: translateX(0%);

    }

    main > aside#right-bar.active-menu {
        transform: translateX(0%);
    }

    .responsive-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0rem 1rem;
        padding-top: 1.5rem ;
        color: white;
        cursor: pointer;
    }

    /* Style for hamburger menus */
  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    background-color: #151b26;
  }


  .close-btn {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem; 
    border: none;
    background: transparent;
    color: white;
    font-size: 4rem; 
    font-weight: 100;
    cursor: pointer;
    }


    #right-bar .close-btn {
     right: 0.5rem; 
    }

    .profile-section, .group-section{
        width: 100%;
        margin: 0 auto;
        padding: 0;

    }

    .friends-groups-grid, .members-owners-grid {  
        justify-content: center;
        flex-wrap: wrap;
    }

    .group-information{
        display: flex;
        flex-direction: column;
    }

    .group-buttons{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .profile-buttons{
        flex-direction: column;
        align-self: center;
    }

    .profile-information{
        display: flex;
        flex-direction: column;
    }

   
}